.footer {
  justify-content: space-between;
  align-items: center;
}

.footer {
  padding: 0 11.455833%;
  display: grid;
  align-items: center;
  grid-template-columns: [sub-left] minmax(1.5rem, 16.5rem) [left-end cont-start] minmax(34.5rem, 1fr) [cont-mid-l cont-mid-r] minmax(34.5rem, 1fr) [cont-end right-start] minmax(1.5rem, 16.5rem) [sub-right];
}

.footer__text {
  grid-column: cont-start / cont-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text--follow2 {
  /* display: none; */
  visibility: hidden;
}

.footer__icons {
  grid-column: cont-start / cont-end;
  display: flex;
  justify-content: flex-end;
}

.footer__links {
  grid-column: cont-start / cont-end;
  display: flex;
  justify-content: flex-start;
}

.footer__copyright {
  grid-column: cont-start / cont-end;
  display: flex;
  justify-content: flex-start;
}


/*---------------------------- STYLES ----------------------*/

.footer {
  background-color: var(--black);
  color: var(--white);
  height: 42.6rem;
  padding: 10rem 0;
}

.footer__text > p {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.footer__icons {
  margin-top: 0.8rem;
}

.footer__icons div:not(:last-of-type) {
  padding-right: 2.4rem;
}

.footer__links {
  margin: 3.2rem 0 7.2rem;
}

.footer__links > li {
  font-size: 1.4rem;
}

.footer__links li:not(:last-of-type) {
  margin-right: 3.6rem;
}

.footer__copyright > p {
  font-size: 1.4rem;
  color: var(--warm-grey);
}

/*---------------------- MEDIA QUERIES ----------------------*/
/* @media only screen and (max-width: 1220px) { */

  @media only screen and (max-width: 768px) {
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 77.8rem;
      padding: 7.4rem 0 0;
      align-items: center;
    }

    .footer__text {

    }

    .footer__text--follow {
      visibility: hidden;
    }

    .footer__text--follow2 {
      align-self: center;
      visibility: visible;
      order: 2;
    }

    .footer__icons {
      order: 3;
    }

    .footer__links {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      order: 1;
    }

    .footer__links li:not(:last-of-type) {
      margin-right: 0;
      margin-bottom: 4rem;
    }

    .footer__copyright {
      padding: 6.4rem 0 8rem;
      order: 4;;
    }
  }


