@media only screen and (min-width: 1200px) {
  .header {
    justify-content: center;
    position: relative;
  }

  .header__logo {
    position: absolute;
    left: 11.455833vw;
  }

}

@media only screen and (max-width: 767px) {
  /*---------------------------- LAYOUT ----------------------*/
  .header,
  .band-banner,
  .navigation,
  .list-title {
    padding: 0 5.078125vw;
  }

  .shows-main {
    padding: 0 5.078125vw 6.8rem;
  }

/*------------------- HEADER STYLES ----------------------*/

  .header {
    height: 6.4rem;
    justify-content: space-between;
    align-items: center;
  }

  .header__list li {
    display: none;
  }

  .header__hamburger {
    position: relative;
  }

  .header__hamburger,
  .header__hamburger::before,
  .header__hamburger::after {
    display: inline-block;
  }
  .header__hamburger--checkbox {
    display: none;
  }

  .header__hamburger--button {
    background-color: var(--black);
    height: 3.2rem;
    width: 3.2rem;
    position: absolute;
    right: 0;
    z-index: 2000;
    cursor: pointer;
  }

  .header__hamburger--icon {
    position: relative;
  }

  .header__hamburger--icon,
  .header__hamburger--icon::before,
  .header__hamburger--icon::after {
    width: 3rem;
    height: 2px;
    background-color: var(--white);
    display: inline-block;
  }

  .header__hamburger--icon::before,
  .header__hamburger--icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }

  .header__hamburger--icon::before { top: -0.8rem; }
  .header__hamburger--icon::after { top: 0.8rem; }

  .header__hamburger--button:hover .header__hamburger--icon::before { top: -1rem; }
  .header__hamburger--button:hover .header__hamburger--icon::after { top: 1rem; }

  /*------------ BAND BANNER & NAVIGATION STYLES -----------------*/

  .band-banner {
    height: 4.3rem;
  }

  .navigation {
    height: 4.8rem;
    overflow-x: scroll;
  }

  .navigation::-webkit-scrollbar {
    display: none;
  }

  .navigation__items li {
    font-size: 1.4rem;
  }

  .navigation__items li:hover::after {
    bottom: -1.2rem;
  }

  /*------------------ MAIN CONTENT STYLES ----------------------*/

  .list-title {
    height: 7.8rem;
  }

  .show__date {
    padding: 0.3rem 2rem;
    margin: 1.9rem 1.6rem 1.9rem 1.6rem;
  }

  .show__date--month {
    font-size: 1rem;
  }

  .show__date--day {
    font-size: 2rem;
  }

  .show__date--year {
    font-size: 1rem;
  }

  .show__location--venue {
    font-size: 1.4rem;
  }

  .show__location--scene {
    font-size: 1.2rem;
    font-weight: normal;
  }

/*--------------------  FOOTER STYLES  ----------------------*/

  .footer,
  .footer__stack-logos,
  .footer__links {
    display: flex;
    flex-direction: column;
  }

  .footer {
    justify-content: center;
    align-items: center;
    height: 77.8rem;
    padding: 7.4rem 0 8rem;
  }

  .footer__text > img,
  .footer__text--follow {
    display: none;
  }

  .footer__stack-logos,
  .footer__text--follow2 {
    visibility: visible;
  }

  .footer__stack-logos--text {
    margin-top: 4.3rem;
  }

  .footer__text--follow2 {
    align-self: center;
    order: 2;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.666667;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  .footer__icons {
    order: 3;
    height: 2.4rem;
    margin-top: 2.3rem;
  }

  .footer__links {
    justify-content: flex-start;
    align-items: center;
    order: 1;
    padding: 7rem 0 6.4rem;
    margin: 0;
  }

  .footer__links li:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 4rem;
  }

  .footer__copyright {
    order: 4;
    padding-top: 6.4rem;
    max-width: 23.7rem;
    text-align: center;
  }

}

@media only screen and (max-width: 625px) {
  .navigation {
    background-color: var(--white);
    justify-content: flex-start;
  }

  .navigation__items li {
    font-size: 1.4rem;
    padding: 0 1.8rem;
    color: var(--warm-grey);
  }

  .navigation__items li:hover {
    color: var(--darkish-green);
  }

}

@media only screen and (max-width: 575px) {
  .header,
  .band-banner,
  .navigation,
  .list-title {
    padding: 0 4vw;
  }

  .shows-main {
    padding: 0 4vw 6.8rem;
  }

  .show__actions {
    display: none;
  }

}



