/*---------------------------- BASE ----------------------*/
:root {
  --black: #23211f;
  --warm-grey: #757575;
  --white: #ffffff;
  --sea-blue: #066792;
  --darkish-green: #2e7d31;
  --white-two: #fafafa;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;   /*  1rem = 10px, 10px/16px = 62.5% */
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
}

ul {
  list-style: none;
}

.hamburger-menu,
.hamburger-menu::before,
.hamburger-menu::after {
  display: none;
}

/*---------------------------- LAYOUT ----------------------*/
.header,
.band-banner,
.navigation,
.list-title,
.shows-main {
  display: flex;
  /* padding: 0 16.5rem; */
  /* padding: 0 11.455833%; */
  padding: 0 11.455833vw;
}

.header,
.band-banner,
.navigation,
.list-title,
.show,
.footer {
  flex-direction: row;
}

.shows-main {
  flex-direction: column;
}

.header,
.band-banner,
.list-title,
.footer {
  justify-content: space-between;
  align-items: center;
}

.header-list,
.navigation,
.navigation-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show__date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.show__location {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: auto;
}

.show__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show__actions-ticket {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  padding: 0 11.455833%;
  display: grid;
  align-items: center;
  grid-template-columns: [sub-left] minmax(1.5rem, 16.5rem) [left-end cont-start] minmax(34.5rem, 1fr) [cont-mid-l cont-mid-r] minmax(34.5rem, 1fr) [cont-end right-start] minmax(1.5rem, 16.5rem) [sub-right];
}

.footer__text {
  grid-column: cont-start / cont-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text--follow2 {
  /* display: none; */
  visibility: hidden;
}

.footer__icons {
  grid-column: cont-start / cont-end;
  display: flex;
  justify-content: flex-end;
}

.footer__links {
  grid-column: cont-start / cont-end;
  display: flex;
  justify-content: flex-start;
}

.footer__copyright {
  grid-column: cont-start / cont-end;
  display: flex;
  justify-content: flex-start;
}

/* @media only screen and (max-width: 1220px) { */

@media only screen and (max-width: 768px) {
  .header,
  .band-banner,
  .navigation,
  .list-title,
  .shows-main {
    /* padding: 0 5.078125%; */
    padding: 0 5.078125vw;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7.4rem 0 8rem;
    align-items: center;
  }

  .footer__text {

  }

  .footer__text--follow {
    visibility: hidden;
  }

  .footer__text--follow2 {
    align-self: center;
    visibility: visible;
    order: 2;
  }

  .footer__icons {
    order: 3;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    order: 1;
  }

  .footer__copyright {
    /* padding: 6.4rem 0 8rem; */
    padding-top: 6.4rem;
    order: 4;;
  }
}

@media only screen and (max-width: 576px) {
  .header,
  .band-banner,
  .navigation,
  .list-title,
  .shows-main {
    /* padding: 0 4%; */
    padding: 0 4vw;
  }
}

/*---------------------------- STYLES ----------------------*/

.header {
  background-color: var(--black);
  height: 8rem;
}

.header-list li {
  color: var(--white);
  font-size: 1.6rem;
  /* margin-left: 4vw; */
  /* margin-left: 4rem; */
}

.header-list li:not(:first-of-type) {
  margin-left: 3vw;
}

.band-banner {
  background-color: var(--darkish-green);
  height: 6.4rem;
}

.band-banner p {
  font-size: 2.4rem;
  color: var(--white);
}

.band-banner img {
  height: 2rem;
}

.navigation {
  background-color: var(--white);
  border-bottom: 1px solid #e0e0e0;
  height: 6.1rem;
}

.navigation-items li {
  font-size: 1.6rem;
  padding: 0 1.6rem;
  color: var(--warm-grey);
}

.navigation-items li:hover {
  color: var(--darkish-green);
}

.list-title {
  padding-top: 4rem;
  padding-bottom: 2.4rem;
}

.list-title p {
  font-size: 2.4rem;
}

.shows-main {
  background-color: var(--white);
  padding-bottom: 8rem;
}

.shows {
  border-bottom: 1px solid gray;
}

.show {
  border: 1px solid gray;
}

.show:nth-child(even) {
  background-color: var(--white-two);
  border-top: none;
  border-bottom: none;
}

.show__date {
  padding: 1.6rem 3.2rem;
  margin: 1.6rem 2.4rem 1.6rem 1.6rem;
  background-color: var(--darkish-green);
  color: var(--white);
}

.show__date-month {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.6rem;
}

.show__date-day {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.4rem;
}

.show__date-year {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
}

.show__location-venue {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--sea-blue);
}

.show__location-scene {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--warm-grey);
}

.show__actions-ticket {
  margin-right: 1.6rem;
  border: 1px solid var(--warm-grey);
  border-radius: 4px;
  background-color: var(--white);
}

.show__actions-ticket span {
  font-size: 1.4rem;
  padding-right: 1.6rem;
  color: var(--black);
}

.show__actions-ticket img {
  padding: 1rem 0.8rem;
}

.show__actions-going {
  border: 1px solid var(--warm-grey);
  border-radius: 4px;
  padding: 0.8rem 0 0.8rem 0.8rem;
  margin-right: 2.4rem;
  background-color: var(--white);
  font-size: 1.4rem;
}

.show__actions-going input[type="checkbox"] {
  display: none;
}

.show__actions-going input[type="checkbox"] + label {
  color: var(--black);
  margin-right: 1.4rem;
}

.show__actions-going input[type="checkbox"] + label span {
  display:inline-block;
  width: 2.3rem;
  height: 2.3rem;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  border: 1px solid black;
  cursor: pointer;
}

.show__actions-going input[type="checkbox"]:checked + label span {
  background: url('../img/checkmark.svg') center no-repeat var(--black);
}

.footer {
  background-color: var(--black);
  color: var(--white);
  height: 42.6rem;
  padding: 10rem 0;
}

.footer__text > p {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.footer__icons {
  margin-top: 0.8rem;
}

.footer__icons div:not(:last-of-type) {
  padding-right: 2.4rem;
}

.footer__links {
  margin: 3.2rem 0 7.2rem;
}

.footer__links > li {
  font-size: 1.4rem;
}

.footer__links li:not(:last-of-type) {
  margin-right: 3.6rem;
}

.footer__copyright > p {
  font-size: 1.4rem;
  color: var(--warm-grey);
}

/*---------------------- MEDIA QUERIES ----------------------*/
/* @media only screen and (max-width: 1220px) { */

@media only screen and (max-width: 768px) {
  .header {
    height: 6.4rem;
    justify-content: space-between;
    align-items: center;
  }

  .band-banner {
    height: 4.3rem;
  }

  .navigation {
    height: 4.8rem;
  }

  .list-title {
    height: 7.8rem;
  }

  .navigation {
    overflow-x: scroll;
    /* overflow-y: hidden; */
  }

  .navigation {
    justify-content: flex-start;
  }

  .navigation::-webkit-scrollbar {
    display: none;
  }

  .navigation-items li {
    font-size: 1.4rem;
  }

  .header-list li {
    display: none;
  }

  .hamburger-menu,
  .hamburger-menu::before,
  .hamburger-menu::after {
    /* width: 3rem;
    height: 2px;
    background-color: var(--white); */
    display: block;
    /* content: "";
    position: absolute;
    right: 0;
    margin-right: 16.5rem;
    transition: all 0.2s; */
  }
  .navigation__checkbox {
    display: none;
  }

  .navigation__button {
    /* background-color: var(--black); */
    /* border-radius: 50%; */
    /* height: 6.4rem; */
    /* width: 6.4rem; */
    /* position: fixed; */
    /* top: 0rem; */
    /* right: 2rem; */
    /* z-index: 2000; */
    /* box-shadow: 0 1rem 3rem rgba(var(--black), 0.1); */
    /* text-align: center; */
    /* cursor: pointer; */
  }

  .navigation__icon {
    position: relative;
    /* transform: translateY(3.2rem); */
    /* margin-top: 3.2rem; */
    /* // opacity: 1;
    // z-index: 2500; */
  }

  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: var(--white);
    display: block;

  }

  .navigation__icon::before,
  .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }

  .navigation__icon::before { top: -0.8rem; }
  .navigation__icon::after { top: 0.8rem; }

  .navigation__button:hover .navigation__icon::before { top: -1rem; }
  .navigation__button:hover .navigation__icon::after { top: 1rem; }

  .show__date {
    padding: 0.3rem 2rem;
    margin: 1.9rem 1.6rem 1.9rem 1.6rem;
  }

  .show__date-month {
    font-size: 1rem;
  }

  .show__date-day {
    font-size: 2rem;
  }

  .show__date-year {
    font-size: 1rem;
  }

  .show__location-venue {
    font-size: 1.4rem;
  }

  .show__location-scene {
    font-size: 1.2rem;
    font-weight: normal;
  }

  .show__actions-ticket img {
    padding: 1rem 0.8rem;
  }

  .footer > * {
    border: 1px solid red;
  }

  .footer {
    height: 77.8rem;
    padding: 7.4rem 0 8rem;
  }

  .footer__links {
    padding: 7rem 0 6.4rem;
    margin: 0;
  }

  .footer__links li:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 4rem;
  }

  .footer__copyright {
    max-width: 27.7rem;
  }
}

@media only screen and (max-width: 625px) {
  .navigation {
    background-color: var(--white);
  }

  .navigation-items li {
    font-size: 1.4rem;
    padding: 0 1.8rem;
    color: var(--warm-grey);
  }

  .navigation-items li:hover {
    color: var(--darkish-green);
  }
}

@media only screen and (max-width: 576px) {
  .show__actions {
    display: none;
  }
}
